.nav navbar-nav navbar-right {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Exo', sans-serif;
}


.navbar li a, .navbar .navbar-brand {
    color: #91A8D0 !important;
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    position: relative;
    z-index: 100;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ff94c9 !important;
    background-color: #91A8D0 !important;
    font-family: 'Exo', sans-serif;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #91A8D0 !important;
    font-family: 'Exo', sans-serif;
}

.brand {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 40 px;
    line-height: 1.42857143 !important;
    letter-spacing: 8px;
    border-radius: 0;
    font-family: 'Exo', sans-serif;
}


.carousel-control.right, .carousel-control.left {
    background-image: none;
    color:  #ff94c9;
}

.carousel-indicators li {
    border-color: #ff94c9;
}

.carousel-indicators li.active {
    background-color: #91A8D0;
}

.imgc {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    }

.item span {
    font-style: normal;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #91A8D0;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #91A8D0;
}
 
.btn-primary:active, .btn-primary.active {
    background: #91A8D0;
    box-shadow: none;
}
.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #91A8D0;
	color: #91A8D0;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #ff94c9;
	border-color: #ff94c9;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #91A8D0;
	color: #91A8D0;
	box-shadow: none;
}

h1 {
    text-align: center;
    color: #ff94c9;
    font-family: 'Exo', sans-serif;
    padding-top: 30px;   
}

p {
    color: #91A8D0;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 17px;
}

h3 {
    color: #ff94c9;
    text-align: center;
    font-family: 'Exo', sans-serif;
}



#dog {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
    width: 350px;
    height: 350px;
    position: relative;
    top: 50px;
}

#shiba {
    float: right;
    width: 350px;
    height: 350px;
    position: relative;
    top: -290px;
    -ms-transform: rotate(8deg); /* IE 9 */
    -webkit-transform: rotate(8deg); /* Safari */
    transform: rotate(8deg) translateX(-100px);
}

img {
    vertical-align: middle;
    display: block;
    margin: auto;
}


#text {
    color: #ff94c9;
    width: 400px;
    padding: 10px;
    margin-top: -300px;
    margin-left: 550px;
    font-family: 'Exo', sans-serif;
}

#blue {
    color: #91A8D0;
    font-family: 'Exo', sans-serif;
}

.jumbotron {
    font-family: 'Exo', sans-serif;
    text-align: center;
    background-color: #FEF1B5 !important;
}


#pink {
    color: #ff94c9;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
}

h3 {
    color: #91A8D0;
    text-align: center;
    font-family: 'Exo', sans-serif;
}

#words {
    color: #91A8D0;
    font-family: 'Exo', sans-serif;
    text-align: center;
}
