.nav navbar-nav navbar-right {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #91A8D0 !important;
    font-size: 18px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ff94c9 !important;
    background-color: #91A8D0 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #91A8D0 !important;
}

.brand {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 40 px;
    line-height: 1.42857143 !important;
    letter-spacing: 8px;
    border-radius: 0;
}

body{
    color: #91A8D0;
    font-family: 'Exo', sans-serif;
    text-align: center;
}

.Jumbotron h1{
    font-size: 70px;
    border-color: wheat;
    padding: 15px;
    border-style: double;
    margin-top: 40px;
}
p{
    font-size: 20px;
    color: #ff94c9;
}

#mymap{
    position: relative;
    margin-bottom: 40px;
}

h2{
    position: relative;
    left: 350px;
    margin-bottom: 20px;
}
.movedown{
    position: relative;
    right:270px;
}

#besides{
    position: absolute;
    top: 300px;
    right: 50px;
}

.btn{
    background: #91A8D0;
    color: #ffffff;
    padding: 25px;
    font-size: 15px;
}